header div.header_top {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

header div.header_top .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 0 1rem;
}


.logoutBtn {
    color: var(--color-secondary);
    font-size: 0.9rem;
    font-weight: bold;
}


header div.header_top .header_top_left {
    font-size: 1rem;
    font-weight: bold;
    color: var(--color-secondary);
}

header div.header_top .header_top_left span {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--color-primary);
}

header div.header_top .header_top_right {
    display: flex;
    gap: 1rem;
}

header div.header_top .header_top_right .active {
    color: var(--color-primary);
    font-size: 1.2rem;
    font-weight: bold;
}

header div.header_top .header_top_right .non-active {
    display: none;
}

header div.header_top .header_top_right p.non-active {
    display: none;
}

header div.header_top .header_top_right a {
    color: #fff;
    text-decoration: none;
}

header div.header_top .header_top_right a:hover {
    color: var(--color-primary-hover);
}

nav {
    background-color: var(--color-background);
    color: var(--color-text);
    padding: 10px 0;
    box-shadow: 0 2px 4px var(--color-card-shadow);
}

nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

nav .logo img {
    height: 50px;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: var(--color-text);
    text-decoration: none;
    font-weight: bold;
    transition: color 200ms ease-in-out;
    position: relative;
}

nav ul li a:hover {
    color: var(--color-primary-hover);
}

nav ul li a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 2px;
    background-color: var(--color-primary);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 300ms ease-in-out;
}

nav ul li a:hover::after {
    transform: scaleX(1);
}

nav ul li a.active {
    color: var(--color-primary);

    &::after {
        transform: scaleX(1);
    }
}

nav .search {
    display: flex;
    align-items: center;
}

nav .search input[type="text"] {
    padding: 5px;
    border: 1px solid var(--color-border);
    border-radius: 3px;
    background-color: var(--color-background-light);
    color: var(--color-text);
}

nav .search button {
    padding: 5px 10px;
    border: none;
    background-color: #333;
    color: white;
    border-radius: 3px;
    margin-left: 5px;
    cursor: pointer;
    transition: background-color 50ms ease-out;
}

nav .search button:hover {
    background-color: #555;
}

header nav .container .cartHeader {
    display: flex;
    align-items: center;
}

header nav .container .cartHeader .cartIcon,
.wishlistIcon {
    position: relative;
    margin-right: 10px;
    cursor: pointer;
}

header nav .container .cartHeader .cartIcon {
    margin-left: 15px;
}

header nav .container .cartHeader i {
    font-size: 24px;
}

header nav .container .cartHeader .countItem {
    position: absolute;
    top: -18px;
    right: -10px;
    background-color: var(--color-error);
    color: #ffffff;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 12px;
}

header nav .container .cartHeader .countItemWishList {
    position: absolute;
    top: -18px;
    right: -10px;
    background-color: var(--color-error);
    color: #ffffff;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 12px;
}

header nav .container .cartHeader .totalPrice {
    text-align: right;
    margin-left: 5px;
    border-radius: 5px;
    background-color: #333;
    padding: 0px 5px;
    display: flex;
    align-items: center;
    position: relative;
}

header nav .container .cartHeader .totalPrice::before {
    content: '';
    display: inline-block;
    position: absolute;
    top: 50%;
    left: -9px;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right: 10px solid #333;
    vertical-align: middle;
}

header nav .container .cartHeader .totalPrice p {
    margin: 0;
    font-size: 14px;
    color: #ffffff;
}

header nav .container .cartHeader .totalPrice .priceCartHead {
    font-size: 16px;
    font-weight: bold;
    margin-top: 5px;
    display: block;
    text-align: center;
}

.footer {
    background-color: #222222;
    color: #ffffff;
    padding-top: 30px;
    font-family: Arial, sans-serif;
}

.footer-top {
    border-bottom: 1px solid #6666662a;
    padding-bottom: 30px;
}

.footer-column {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-section {
    width: 23%;
    margin-bottom: 20px;
}

.footer h5 {
    font-size: 18px;
    margin-bottom: 20px;
    font-weight: bold;
    color: var(--color-primary);
}

.footer ul {
    list-style: none;
    padding: 0;
    line-height: 2.2em;
}

.footer ul li a {
    color: #666666;
    text-decoration: none;
}

.footer ul li a:hover {
    color: var(--color-primary);
}

.social-links a {
    display: block;
    margin-bottom: 10px;
    color: #666666;
    font-size: 16px;
}

.social-links a:hover {
    color: var(--color-primary);
}

.footer-bottom {
    padding: 20px 0;
    text-align: center;
    background-color: #222222;
}

.footer-bottom p {
    margin: 0;
    font-size: 14px;
    color: #ffffff;
}

@media (max-width: 500px) {
    nav .logo img {
        order: 1;
    }

    .cartHeader {
        order: 2;
    }

    nav ul {
        order: 3;
    }

    nav .search {
        order: 4;
        margin: 5px auto;
    }

    nav .search input[type="text"] {
        width: 100%;
    }

    nav .search button {
        margin-left: 0;
        border-radius: 0 3px 3px 0;
    }

    .cartHeader .cartIcon {
        margin-left: 0;
    }

    .homeCategories {
        flex-direction: column;
    }

    .homeCategories div {
        width: 100% !important;
        margin: 0;
    }

    .features div {
        margin: 5px auto;
    }

    .footer-column {
        flex-direction: column;
    }

    .footer-column ul {
        padding: 0 0 0 2rem;
    }

    .footer-column div.footer-section {
        width: 100% !important;
    }
}

@media (min-width: 680px) {
    nav .logo img {
        order: 1;
    }

    nav ul {
        order: 2;
    }

    .cartHeader {
        order: 3;
    }

    nav .search {
        order: 4;
        margin: 5px auto;
    }
}

@media (min-width: 796px) {
    nav .logo img {
        order: 1;
    }

    nav ul {
        order: 2;
    }

    .cartHeader {
        order: 4;
    }

    nav .search {
        order: 3;
        margin: 0;
    }
}