.homeCategories {
display: flex;
gap: 5px;
width: 100%;

}
.homeCategories  .catContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 8% 10% 0 3%;
    text-transform: capitalize;
    
   

}

.homeCategories  .catContainer a {
    margin-top: 20px;
    font-size: large;
    font-weight: bold;
    text-decoration: underline red;
}
.homeCategories  .catContainer a:hover{
    color: var(--primary);
}
.homeCategories  .catContainer span {
   font-style: italic;
   

}
.homeCategories .leftCat{
width: 37.5%;

/* background-color: rgb(251, 227, 215); */
background: url('../images/Categories/electronics.png') right center no-repeat, rgb(251, 227, 215);
background-size: 60% auto;



}


.homeCategories .midCats{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 25%;
}

.homeCategories .midCats .midCat-top{
    width: 100%;
    height: 50%;
    /* background-color: rgb(189, 227, 216); */
    background: url('../images/Categories/young-handsome-hipster-man-trendy-style-outfit-denim-shirt-trousers-sunglasses-hat-happy-smiling-positive-emotion-isolated-empty-hands-up-compare.png') right center no-repeat, rgb(189, 227, 216);
    background-size: 27% auto;
    
}
.homeCategories .midCats .midCat-bottom{
    width: 100%;
   
    /* background-color:rgb(253, 220, 225); */
    background: url('../images/Categories/women.png') right center no-repeat, rgb(253, 220, 225);
    background-size: 28% auto;
    height: 50%;

}
.homeCategories .rightCat{
    width: 37.5%;


background-color:rgb(204, 227, 245);
background: url('../images/Categories/jewelery.png') right center no-repeat, rgb(204, 227, 245);
    background-size: 35% auto;
}

