

.allproduct_wrapper {
        display: flex;
}

/*#region products*/
.productsDev {
        width: 70%;
        min-height: 50vh;
        padding: 0 1rem;
}

.product_wrapper-products-count {
        padding: 1rem 0;
}

.home_best-sales-card-container {
        gap: 1rem;
}

.home_best-sales-card-container .home_best-sales-card {
        width: 270px;
}

/*#endregion products*/
/*#region Filtter*/
.allProducts {
        margin: 3rem 0;
}

.product_wrapper-filtter {
        width: 30%;
}

.product_wrapper-filtter-inner {
        min-height: 30vh;
        max-height: 110vh;
        padding: 1rem;
        background-color: var(--color-background-light);
}

.product_wrapper-filtter .product_wrapper-filtter-search-box {
        display: flex;
        align-items: center;
        background-color: var(--color-background-dark);
        border: 1px solid var(--color-border);
        opacity: 0.7;
}

.product_wrapper-filtter .product_wrapper-filtter-search-box input {
        padding: 1rem;
        flex-grow: 1;
        border: none;
        background-color: var(--color-background-dark);
}

.product_wrapper-filtter .product_wrapper-filtter-search-box input:focus {
        outline: none;
}

.product_wrapper-filtter .product_wrapper-filtter-search-box i {
        padding: 1rem;
        font-size: 1.3rem;
}

.product_wrapper-filtter .product_wrapper-filtter-item div {
        display: flex;
        justify-content: space-between;
        padding: 1rem 0 0 0;
        margin: 0 0 1rem 0;
        text-transform: uppercase;
        cursor: pointer;
}

.product_wrapper-filtter .product_wrapper-filtter-item ul {
        transition: all 0.6s ease;
        height: 0px;
        padding: 0 0 0 .5rem;
        overflow: hidden;
}

.product_wrapper-filtter .product_wrapper-filtter-item ul li {
        margin: 0 0 1rem 0;
        cursor: pointer;
        color: var(--color-text-light);
        opacity: 0.7;
}

.product_wrapper-filtter .product_wrapper-filtter-item ul.active_ul {
        height: fit-content;
        height: 200px;
}

.allProducts .container .productsDev .product {
        width: 230px;
        margin-bottom: 30px;
}

/*#endregion Filtter*/

@media (max-width: 992px) {
        .product .product_wrapper {
                flex-direction: column;
        }

        .product .product_wrapper-filtter,
        .product .product_wrapper-products {
                width: 100%;
        }

        .product_wrapper-products .home_best-sales-card-container .home_best-sales-card {
                width: calc(100% / 2 - 2rem);
        }
}

@media (max-width: 750px) {
        .product_wrapper-products .home_best-sales-card-container .home_best-sales-card {
                width: 100%;
        }
}