/* product style in slide  */
.product {
    background: var(--color-background-light);
    position: relative;
    padding: 20px 30px ;
    text-align: center;
    overflow: hidden;
    box-shadow: 5px 5px 10px var(--color-card-shadow);
    border: 1px solid var(--color-border);
    border-radius: 5px;
    width: 25%;
    transition: 300ms ease-in-out;
}

.product .buttons .moreBtn {
    background-color: var(--color-background-light);
    color: var(--color-primary);
    padding: 10px 10px;
    border: 1px solid var(--color-primary);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-size: 14px;
}

.product .buttons .moreBtn:hover {
    background-color: var( --color-primary);
    color: var(--color-background-light);
}

.product .buttons .addToCartBtn {
    background-color: var(--color-primary);
    color: var(--color-background-light);
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 14px;
    margin-top: 10px;
}

.product .buttons .addToCartBtn:hover {
    background-color: var(--color-primary-hover);
}

.product .salePersent {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 2;
    background-color: var(--color-error);
    color: var(--color-background-light);
    padding: 4px 12px;
    font-size: 14px;
}

.product .imgProduct {
    position: relative;
    overflow: hidden;
    height: 200px;
}

.product .imgProduct img {
    width: 100%;
    object-fit: contain;
    transition: 300ms ease-in-out;
}

.product:hover .imgProduct img {
    opacity: 0;
}

.product .imgProduct .imgHover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    scale: 0.1;
}

.product:hover .imgProduct .imgHover {
    opacity: 1;
    scale: 1;
    cursor: pointer;
}

.product .productName {
    font-size: 16px;
    margin: 10px 0;
}

.product .productName h3 {
    color: var(--color-text);
}

.product .productName h3:hover {
    text-decoration: underline;
}

.stars {
    margin: 15px 0;
}

.stars i {
    color: var(--color-highlight);
}

.stars i.opac {
    opacity: 0.22;
}

.price {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.price p {
    color: var(--color-primary);
    font-weight: bold;
}

.product .icons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    right: -80px;
    z-index: 30;
    top: 50%;
    transform: translateY(-50%);
    transition: 350ms ease-out;
}

.product .icons i.active {
    background: var(--color-primary-hover);
}

.product .icons i {
    color: var(--color-text);
    background: var(--color-background-light);
    width: 50px;
    height: 50px;
    line-height: 50px;
    border: 1px solid var(--color-border);
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    transition: 300ms ease;
}

.stars i.opac {
    opacity: 0.22;
}

.price {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.product .icons i:hover {
    background-color: var(--color-primary);
    color: var(--color-background-light);
}

.product:hover .icons {
    right: 20px;
}

.allProducts .container {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.allProducts .container .productsDev {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 2.5%;
    margin-top: 1rem;
    margin-inline: auto;
}

.allProducts .container .productsDev .product {
    width: 22.5%;
    margin-bottom: 30px;
}

/* topSaleFilteration */
.topSaleFilteration {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    list-style: none;
    flex-wrap: wrap;
}

.topSaleFilteration .filterItem {
    cursor: pointer;
    color: var(--color-text-light);
    font-size: 16px;
    transition: color 300ms ease, font-weight 300ms ease;
    margin: 0rem 1rem 0 1rem;
    position: relative;
    text-transform: capitalize;
}

.topSaleFilteration .filterItem:hover {
    color: var(--color-primary);
}

.topSaleFilteration .filterItem.active {
    color: var(--color-primary);
    font-weight: bold;
}

.topSaleFilteration .filterItem.active::after {
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    background: var(--color-primary);
    position: absolute;
    bottom: -5px;
    left: 0;
}

@media (max-width: 1024px) {
    .allProducts .container .productsDev .product {
        width: 48%; 
    }
    .allProducts .container{
        flex-direction: column;
    }
    .allProducts .container .productsDev .product {
        justify-content: space-between;
    }
}

@media (max-width: 767px) {
    .allProducts .container .productsDev .product {
        justify-content: space-between;
    }
    .allProducts .container .productsDev .product {
        width: 100%;
    }
    .topSaleFilteration .filterItem {
        margin: 0.5rem 0.5rem;
    }
}


#loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    align-self: center;
    margin-inline: auto;
}

.spinner-border {
    width: 3rem;
    height: 3rem;
    border-width: 0.25rem;
    animation: spin 1s linear infinite;
    border-left: 4px solid var(--color-primary);
    border-right: 4px solid var(--color-primary);
    border-top: 8px solid var(--color-background-light);
    border-radius: 50%;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

